@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff5f8; /* Pink sangat muda / soft pink background */
  --foreground: #372830;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Kustomisasi Scrollbar agar bernuansa pink */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fff5f8;
}
::-webkit-scrollbar-thumb {
  background: #f472b6;
  border-radius: 4px;
}